@font-face {
    font-family: 'futura-medium';
    src: url('fonts/futura\ medium\ condensed\ bt.ttf');
}
@font-face{
    font-family: 'futura-bold';
    src: url('fonts/Futura\ Bold\ font.ttf')
}
@font-face{
    font-family: 'hind-madurai';
    src: url('fonts/HindMadurai-Light.ttf')
}
@font-face{
    font-family: 'hind-madurai-bold';
    src: url('fonts/HindMadurai-SemiBold.ttf')
}


::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{

   background-color: #0e0e0e;
}

::-webkit-scrollbar-thumb{
border-radius: 5px;
background-color: #797979;
}

::-webkit-scrollbar-thumb:hover{
    background: #c5c5c5;
}

.whole-body{
    cursor: url(./img/bee-pointer.png), auto;
}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: futura-medium;
    scroll-behavior: smooth;

    
    
}

body{
    min-height: 100vh;
    height:100%;
    overflow-x: hidden;
    background: linear-gradient(180deg, rgba(151,216,255,1) 6%, rgba(171,255,202,1) 12%, rgba(255,218,105,1) 21%);
}

header{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .logo
{
    color:#fff;
    font-weight:700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing:2px;
    cursor:url(./img/bee-click.png), pointer;

}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
 
}

header ul li {

    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 25px;
    color: #fff;
    border-radius: 20px;
    font-size: 1.5em;
    min-width:25px ;
    cursor:url(./img/bee-click.png), pointer;
 
}

header ul li a:hover,
header ul li a.active 
{

background: #fff;
color:#1b1c2e;
}

section{

    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

section::before{
    content:'';
    position: absolute;
    bottom:0;
    width: 100%;
    height:100px;
    z-index:1000;
}




section img{
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    pointer-events: none;
}

section img#bear{
    z-index: 11;
}
section img#mountain{
    z-index: 9;
}
section img#back{
    z-index: 8;
}
section img#sun{
    z-index: 7;
}

#slogan{

    position:absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 8vw;
    font-family: futura-bold;
    z-index: 10;
    transform: translateY(-100px);
    
}


#btn{
   text-decoration: none; 
   display: inline-block;
   padding: 8px 30px;
   border-radius: 40px;
   background:#fff;
   color:#0e0e0e;
   font-size: 1.5em;
   z-index: 10;
   cursor:url(./img/bee-click.png), pointer;
}




.sec
{
    z-index: 12;
    position: relative;
    padding:100px;
    background: linear-gradient(0deg, rgba(14,14,14,1) 0%, rgba(22,77,40,1) 28%);
}

.sec2
{
    position: relative;
    padding:0 100px 10px 100px;
    background: #0e0e0e;
}


.sec h2{
    top:0px;
    font-size: 4em;
    text-transform: uppercase;
    font-family:hind-madurai-bold ;
    margin-bottom: 10px;
    color:#fff;
    letter-spacing:3px;
   


}

.sec p{
    color: #fff;
    font-size: 1.4em;

}

.sec h3{
    font-family:hind-madurai-bold ;
    font-size: 2em;
    color:rgb(255, 255, 255);
    z-index: 20;
}

.sec2 h3{
    font-family:hind-madurai-bold ;
    font-size: 1.5em;
    color:rgb(255, 255, 255);
    z-index: 20;
}


.sec2 h3 a{
    font-family:hind-madurai-bold ;
    font-size: 1em;
    color:rgb(255, 255, 255);
    z-index: 20;
    cursor:url(./img/bee-click.png), pointer;

}

.sec ol li{
    font-family:hind-madurai;
    list-style: none;
    color: #fff;
    font-size: 1.5em;
}

.container{
    width: 100%;
    padding:15px;
    margin:0 auto ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 500px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
    transition:1s ;
    
}

.box img{
    display:block;
    width: 100%;
    border-radius: 5px; 
    cursor:url(./img/bee-click.png), pointer;
}

.box:hover{
transform: scale(1.1);
z-index: 2;


}

h2{
    font-size: 4em;
    text-transform: uppercase;
    font-family:hind-madurai-bold ;
    margin-bottom: 10px;
    color:#fff;
    letter-spacing:3px;

}

.toggle-button{
    position: absolute;
    top:4rem;
    right:1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color:#fff ;
    border-radius: 10px;
}

footer{
    position:static;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(24, 24, 24);
    height: auto;
    width: 100vw;
    font-family: futura-medium;
    padding-top: 5px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 3rem;
    font-family: futura-bold;
}
.footer-content p{
    max-width: 400px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 17px;
}


.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 10px 0;
    text-align: center;
}


.container2{
    width: 100%;
    padding:0px;
    margin:10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2{
    width: 40px;
    margin: 0 15px;
    box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
    transition:1s ;
}

.box2 img{
    display:block;
    width: 100%;
    border-radius: 5px; 
    cursor:url(./img/bee-click.png), pointer;
}

.box2:hover{
transform: scale(1.3);
z-index: 2;
}


    
.section-contact{
    max-height:100vh;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
    z-index: 12;
    position: relative;
    padding:100px;
   
    
    }
    

    
.container-form{
    min-width: 100%;
    margin: 0 auto;
    height: 95%;
    padding-left: 32px;
    padding-right: 32px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    


}

h4{
    font-size: 4em;
    text-transform: uppercase;
    font-family:hind-madurai-bold ;
    margin-bottom: 10px;
    color:#fff;
    letter-spacing:3px;
    margin-top: 20px;

}


#contact-text{
    margin: 10px 0 0 0  ;
    line-height: 28px;
    font-size: 1.7em;
    font-family: 'futura-bold';
}

form{
    height: 70%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4%;
    padding: 32px;
    font-size: 1.5em;
    
    
}


.form-group{
   display:block;
   margin-bottom: 0px;
   color: #0e0e0e;
   font-family: 'futura-medium';
   font-size: 1.5em;


}

.form-group full{
    display:block;
    margin-bottom: 50px;
    color: #0e0e0e;
    font-family: 'futura-medium';
    font-size: 1.5em;
    height: 10vh;
}

textarea{
    resize:none;
    min-height:150px;
    margin-bottom: 10px;
    margin-right:none;
}




.form-element{
    appearance: none;
    outline: none;
    border:none;

    display:block;
    width:100%;
    height: 50px;
    border-radius: 8px;
    padding: 16px 16px;
    background-color: #f7f7f7;
    font-size: 1em;
    font-family: 'futura-bold';

}





button[type="submit"]{ 
    width:13%;
    height:60px;
    padding:15 10px ;
    border-radius: 40px;
    background:#fff;
    color:#000000;
    font-size: 1.5em;
    border:none;
    z-index: 10;
    border: 4px solid white ;
    transition: .3s ease background-color color;
   
    cursor:url(./img/bee-click.png), pointer;
}

button[type="submit"]:hover{
background-color:rgba(300,300,300,0);
color:#fff;
}





#cover-contact{
    background-color: #67abeb;
}

#status{
    font-size: 1.5em;
    z-index: 25px;
    margin-left:40px;
    margin-top:10px;
    color:#fff;
    border-radius: 40px;
    width: 350px;
    text-align: center;
   
}


